extends ./layout

block script
  script(src='/socket.io/socket.io.js')

block body
  .text-center
    h1.bright= 'Hello there. Just a dummy page for now.'

  script(type='text/javascript').
    var socket = io.connect('http://localhost:3000/timeping');
    socket.on('timeping', function(timeping) {
      console.log("Got time: " + timeping.time);
    });
